@import './parts/fonts';
@import './parts/variables';
@import './parts/grid';
@import './parts/header';
@import './parts/main-banner';
@import './parts/about';
@import './parts/services';
@import './parts/columns';
@import './parts/button';
@import './parts/chat';
@import './parts/attendances';
@import './parts/modal';
@import './parts/form';
@import './parts/footer';

* {
    box-sizing: border-box;
}

html,
body {
    font-family: $font-family;
    font-size: $body-font-size;
    color: $black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @include respond-to(lg) {
        font-size: 16px;
    }
}

body {
    &.modal_opened {
        overflow: hidden;
    }
}

strong,
b {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: $black;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-start-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

%flex-end-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mobile__hide {
    @include respond-to(md) {
        display: none;
    }
}

.mobile__show {
    display: none;
    border: none !important;

    @include respond-to(md) {
        display: block;
    }
}

.order-md-1 {
    @include respond-to(md) {
        order: 1;
    }
}

.order-md-2 {
    @include respond-to(md) {
        order: 2;
    }
}