.about {
    padding: 107px 0 60px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;

    &_service {
        padding-top: 60px;
    }

    @include respond-to(md) {
        padding-top: 32px;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
    }

    @include respond-to(sm) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        max-width: 360px;
        margin: auto;
    }
}