.attendances {
    padding-top: 60px;
    
    @include respond-to(md){
        padding-top: 25px;
    }

    &__header {
        margin-bottom: 25px;

        & h1 {
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;

            @include respond-to(lg){
                font-size: 50px;
                line-height: 60px;
            }

            @include respond-to(md){
                font-size: 30px;
                line-height: 34px;
            }

            @include respond-to(sm){
                font-size: 24px;
                line-height: 28px;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 26px;

        @include respond-to(md){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 340px);
            gap:20px;
        }

        @include respond-to(sm){
            grid-template-rows: repeat(2, 170px);
        }

        &_service-1 {
            & .attendances__item:nth-child(1) .attendances__title {
                bottom: 303px;
                
                @include respond-to(md){
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(2) .attendances__title {
                top: 35px;

                @include respond-to(md){
                    top: auto;
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(3) .attendances__title {
                bottom: 62px;

                @include respond-to(md){
                    bottom: auto;
                    top: 30px;
                }

                @include respond-to(sm){
                    top: 13px;
                }
            }

            & .attendances__item:nth-child(4) .attendances__title {
                top: 50px;

                @include respond-to(md){
                    bottom: auto;
                    top: 30px;
                }

                @include respond-to(sm){
                    top: 13px;
                }
            }
        }

        &_service-2 {
            & .attendances__item:nth-child(1) .attendances__title {
                top: 110px;
                @include respond-to(md){
                    top: auto;
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(2) .attendances__title {
                bottom: 73px;
                @include respond-to(md){
                    top: auto;
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(3) .attendances__title {
                top: 276px;
                @include respond-to(md){
                    top:30px;
                }

                @include respond-to(sm){
                    top:13px;
                }
            }

            & .attendances__item:nth-child(4) .attendances__title {
                bottom: 151px;
                @include respond-to(md){
                    bottom: auto;
                    top:30px;
                }

                @include respond-to(sm){
                    top:13px;
                }
            }
        }

        &_service-3 {
            & .attendances__item:nth-child(1) .attendances__title {
                top: 28px;
                @include respond-to(md){
                    top: auto;
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(2) .attendances__title {
                bottom: 239px;
                @include respond-to(md){
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(3) .attendances__title {
                bottom: 39px;
                @include respond-to(md){
                    bottom: auto;
                    top:30px;
                }

                @include respond-to(sm){
                    top:13px;
                }
            }

            & .attendances__item:nth-child(4) .attendances__title {
                top: 160px;
                @include respond-to(md){
                    top:30px;
                }

                @include respond-to(sm){
                    top:13px;
                }
            }
        }

        &_service-4 {
            & .attendances__item:nth-child(1) .attendances__title {
                bottom: 38px;
                @include respond-to(md){
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(2) .attendances__title {
                bottom: 268px;
                @include respond-to(md){
                    bottom:30px;
                }

                @include respond-to(sm){
                    bottom:13px;
                }
            }

            & .attendances__item:nth-child(3) .attendances__title {
                bottom: 132px;
                @include respond-to(md){
                    bottom: auto;
                    top:30px;
                }

                @include respond-to(sm){
                    top:13px;
                }
            }

            & .attendances__item:nth-child(4) .attendances__title {
                top: 48px;
                @include respond-to(md){
                    top:30px;
                }

                @include respond-to(sm){
                    top:13px;
                }
            }
        }
    }

    &__item {
        position: relative;
        
        @include respond-to(md){
            border-radius: 20px;
            overflow: hidden;
        }

        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(226, 232, 228, 0.4);
            z-index: 1;
            opacity: 1;
            transition: $transition;
        }

        &:hover {
            &:before {
                opacity: 0;
            }

            & h2 {
                color: $white;
                text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
            }
        }

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        position: absolute;
        left: 10px;
        z-index: 3;

        & h2 {
            font-weight: 400;
            font-size: 55px;
            line-height: 64px;

            @include respond-to(xl){
                font-size: 45px;
                line-height: 54px;
            }
            @include respond-to(lg){
                font-size: 35px;
                line-height: 44px;
            }
            @include respond-to(sm){
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}