.chat {
    &__header {
        background: $black;
        padding: 11px 26px 11px 69px;
        @extend %flex-between-center;
        color: $white;

        @include respond-to(md) {
            padding: 11px 50px 10px;
            font-size: 24px;
            line-height: 29px;
        }

        @include respond-to(sm) {
            flex-direction: column;
            padding: 0
        }
    }

    &__user {
        @extend %flex-start-center;

        @include respond-to(sm) {
            padding: 10px 0;
        }
    }

    &__avatar {
        position: relative;
        margin-right: 37px;

        @include respond-to(sm) {
            height: 49px;
            width: 49px;
            margin-right: 20px;

            img {
                &:first-child {
                    width: 49px;
                    height: 49px;
                }

                &:last-child {
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }

    &__online {
        position: absolute;
        bottom: 8px;
        right: 5px;

        @include respond-to(sm) {
            bottom: 4px;
            right: 3px;
        }
    }

    &__title {
        font-size: 55px;
        line-height: 66px;
        font-weight: 700;

        @include respond-to(md) {
            font-size: 30px;
            line-height: 34px;
        }

        @include respond-to(sm) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    &__contacts {
        font-weight: 700;

        @include respond-to(sm) {
            width: 100%;
            background: #fff;
            color: #000;
            padding: 8px 0;

            * {
                max-width: 360px;
                margin: auto;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    &__inner {
        background: rgba(226, 232, 228, 0.4);
        padding: 25px 17px;
        display: flex;
        flex-direction: column;

        @include respond-to(sm) {
            padding: 10px 0;

            .chat__wrapper {
                max-width: 360px;
                margin: 0 auto;
            }
        }
    }

    &__messages-from {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 408px;

        @include respond-to(sm) {
            max-width: 187px;
        }
    }

    .to-reveal {
        display: none;
        width: 100%;
    }

    .consultation__chat-message--fit-content {
        display: none;
        max-width: max-content;
        .chat__message-from {
            padding: 0 50px;
        }
    }

    &__message-from {
        display: flex;
        align-items: center;
        min-height: 99px;
        width: 100%;
        margin-bottom: 14px;
        background: rgba(226, 232, 228, 0.2);
        border: 1px solid rgba(23, 22, 22, 0.1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 0px 50px 50px 30px;
        color: $black;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        padding: 0 21px;

        @include respond-to(md) {
            padding: 17px 10px;
        }

        @include respond-to(sm) {
            font-size: 8px;
            line-height: 10px;
            min-height: 45px;
        }
    }

    &__messages-to {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__message-to {
        display: none;
        padding: 39px 89px;

        @include respond-to(md) {
            padding: 13px 21px;

        }

        background: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(23, 22, 22, 0.1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 0px 50px 50px 30px;
        max-width: 590px;

        @include respond-to(md) {
            max-width: 375px;
        }

        justify-content: center;
        align-items: center;

        & input {
            border: none;
            font-weight: 400;
            font-size: 48px;
            line-height: 56px;

            &::placeholder {
                color: #171616;
            }

            @include respond-to(md) {
                font-size: 30px;
                line-height: 33px;
                width: auto;
            }

            @include respond-to(sm) {
                font-size: 20px;
                line-height: 22px;
            }

            background: none;
            width: 413px;
            font-family: $font-family;

            &:focus {
                outline: none;
            }
        }
    }
}