.columns {
    display: flex;
    align-items: stretch;
    gap: 64px;
    margin-bottom: 60px;

    &_socal {
        padding-bottom: 23px;
    }

    @include respond-to(md) {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0;
        margin-bottom: 20px;
    }
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;

    @include respond-to(md) {
        width: 100%;
    }

    &_pl {
        padding-left: 22px;
    }

    &__padding {
        padding-left: 30%;

        @include respond-to(xl) {
            padding-left: 0;
        }
    }

    &__header {
        font-size: 55px;
        line-height: 66px;

        @include respond-to(lg) {
            font-size: 45px;
            line-height: 56px;
        }

        @include respond-to(md) {
            font-size: 30px;
            line-height: 34px;
            padding-top: 20px;
        }

        @include respond-to(sm) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding-top: 25px;
    }

    &__button {
        margin-top: 12px;

        &_right {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;
        }
    }

    & img {
        max-width: 100%;
    }
}