@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@mixin font($pcSize, $ipSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $pcSize +$mobSize * .7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / #{$maxWidth}));
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: #{$ipSize + px};
    }

    @media (min-width: 1025px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }

    @media (min-width: #{$maxWidth + px}) {
        font-size: #{$pcSize + px};
    }
}

@mixin font($pcSize, $ipSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $pcSize +$mobSize * .7;

    @media (max-width: 767px) {
        line-height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / #{$maxWidth}));
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        line-height: #{$ipSize + px};
    }

    @media (min-width: 1025px) {
        line-height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }

    @media (min-width: #{$maxWidth + px}) {
        line-height: #{$pcSize + px};
    }
}