.footer {
    background: $black;
    color: $white;
    padding: 22px 0;

    @include respond-to(sm) {
        padding: 12px 0;
    }

    & .container {
        display: block;

        @include respond-to(md) {
            display: none;
        }

        &_mobile {
            display: none;
            font-size: 14px;

            @include respond-to(md) {
                display: block;
            }

            @include respond-to(sm) {
                font-size: 8px;
                line-height: 10px;
                max-width: 360px;
                margin: 0 auto;
            }
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    & a {
        color: $white;
    }

    &__info {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;

        &_center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        & p {
            padding: 0;
            margin: 0;
            display: block;
        }
    }

    &__slogan {
        font-size: 24px;
        line-height: 29px;

        @include respond-to(lg) {
            font-size: 19px;
            line-height: 24px;
        }

        @include respond-to(md) {
            font-size: 14px;
        }

        @include respond-to(sm) {
            font-size: 8px;
            line-height: 10px;
        }
    }

    &__email {
        margin-top: auto;

        @include respond-to(lg) {
            margin-bottom: 18px;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        & ul {
            @extend %flex-center;

            & li {
                & a {
                    display: block;
                    margin-right: 27px;

                    @include respond-to(lg) {
                        margin-right: 16px;
                    }

                    & img {
                        max-width: 32px;
                        @include respond-to(sm) {
                            max-width: 17px;
                        }
                        
                    }

                    @include respond-to(sm) {
                        margin-right: 17px;
                    }
                }

                &:last-child a {
                    margin-right: 0;
                }
            }
        }
    }

    &__politics {
        margin-top: auto !important;
    }

    &__contacts {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        @include respond-to(md) {
            font-size: 14px;
        }

        @include respond-to(sm) {
            font-size: 8px;
            line-height: 10px;
        }
    }

    &__payments {
        display: flex;
        gap: 10px;
        padding: 27px 0;

        & img {
            max-width: 59px;

            @include respond-to(sm) {
                max-width: 31px;
                gap: 5px;
            }
        }
    }
}