.form__controls {
    flex-grow: 1
}

.form__control {
    margin-bottom: 49px;
    position: relative;

    @include respond-to(md) {
        margin-bottom: 15px;
    }

    &_margin-small {
        margin-bottom: 25px;
    }
}

.form__field {
    background: #E2E8E4;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 14px 40px;
    width: 100%;
    display: block;
    border: none;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    @include respond-to(md) {
        font-size: 20px;
        line-height: 24px;
    }

    position: relative;

    &:focus {
        outline: none;
    }

    &-label {
        color: rgba(23, 22, 22, 0.3);
        overflow: hidden;
        word-wrap: normal;

        &_selected {
            color: $black;
        }
    }
}

.form__group {
    display: flex;

    @include respond-to(md) {
        display: block;
    }
}

.form__image {
    width: 310px;
    height: 310px;
    background: #E2E8E4;
    border-radius: 30px;
    margin-right: 50px;
    position: relative;

    @include respond-to(md) {
        margin-bottom: 15px;
        width: 130px;
        height: 130px;
    }

    & input[type="file"] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &-inner {
        @extend %flex-center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 30px;

        & img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            border-radius: 30px;
        }
    }

    &-text {
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        color: $black;
        margin-bottom: 34px;

        @include respond-to(md) {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

    &-icon {
        & svg {
            @include respond-to(md) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &-empty {
        @extend %flex-center;
        flex-direction: column;

        &_hide {
            display: none !important;
        }
    }

    &-avatar {
        display: block;

        &_show {
            display: block;
        }
    }
}

.form__label {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    @include respond-to(md) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    color: $white;
    display: block;
    margin-bottom: 25px;
}

.form__checkbox {
    position: relative;

    & input[type="checkbox"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;

        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;

            @include respond-to(md) {
                font-size: 20px;
                line-height: 24px;
            }

            color: $white;

            &::before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1.5px solid $white;
                border-radius: 10px;

                @include respond-to(md) {
                    border-radius: 4px;
                }

                margin-right: 18px;

                @include respond-to(md) {
                    margin-right: 11px;
                }

                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
        }

        &:checked+label::before {
            background-image: url("../images/icons/checkbox.svg");
        }
    }
}

.form__button {
    border: none;
    background: #E2E8E4;
    border-radius: 40px;
    padding: 14px 47px;
    color: $black;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    @include respond-to(md) {
        font-size: 20px;
        line-height: 24px;
    }

    cursor: pointer;
    transition: $transition;

    &_cancel {
        color: rgba(23, 22, 22, 0.3);
    }

    &:hover,
    &:focus {
        color: rgba(23, 22, 22, 0.3);
    }
}

.form__buttons {
    @extend %flex-center;
    gap: 132px;

    @include respond-to(md) {
        gap: 15px;
    }
}

.form__row {
    display: flex;
    gap: 70px;

    @media(max-width:1170px) {
        display: block;
    }
}

.form__select {
    position: relative;
    margin-bottom: 49px;

    @include respond-to(md) {
        margin-bottom: 15px;
    }

    flex-grow: 1;

    &_opened {
        & .form__field {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &>.form__select-options {
            opacity: 1;
            height: auto;
        }
    }

    &:after {
        content: ' ';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 43px;
        width: 37px;
        height: 37px;
        background: url('../images/icons/chack.svg') 50% 50% no-repeat;
        display: block;
        cursor: pointer;
    }

    &_calendar {
        width: 50%;

        &:after {
            background: url('../images/icons/date.svg') 50% 50% no-repeat;
        }

        @media(max-width:1170px) {
            width: 100%;
        }
    }

    &_clock {
        width: 50%;

        &:after {
            background: url('../images/icons/time.svg') 50% 50% no-repeat;
        }

        @media(max-width:1170px) {
            width: 100%;
        }
    }

    &-options {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: #E2E8E4;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        z-index: 999;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }


    &-option {
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;

        @include respond-to(md) {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
        }

        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        padding-left: 40px;
        padding-right: 40px;

        & span {
            border-bottom: 2px solid transparent;
        }

        &:hover {
            & span {
                border-bottom: 2px solid $black;
            }
        }

        &:after {
            content: ' ';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 43px;
            width: 37px;
            height: 37px;
            display: block;
            cursor: pointer;
        }

        &_plus {
            &:after {
                background: url('../images/icons/plus.svg') 50% 50% no-repeat;
            }
        }

        &_check {
            &:after {
                background: url('../images/icons/galka.svg') 50% 50% no-repeat;
                right: 40px;
            }
        }
    }
}