header {
    background: $white;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 928px;
    display: flex;

    @include respond-to(xl) {
        max-width: 100%;
    }

    @include respond-to(sm) {
        max-width: 360px;
    }

    &__toggler {
        border: none;
        background: none;
        width: 70px;
        height: 70px;
        @extend %flex-center;
        padding: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background: #fff;
        transition: all 0.2s;

        span {
            display: block;
            width: 19px;
            height: 2px;
            background: #171616;
            border-radius: 90px;
            margin-bottom: 5px;
            transition: all 0.2s;

            &:last-child {
                margin: 0;
            }
        }

        &.opened {
            background: #171616;

            span {
                background: #fff;

                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }
        }
    }

    &__menu {
        border-right: 1px solid rgba(23, 22, 22, 0.3);
        margin-right: 27px;
        width: 457px;
        flex-shrink: 0;

        @include respond-to(md) {
            margin-right: 22px;
        }

        @include respond-to(lg) {
            width: auto;
        }

        & ul {
            display: flex;
            align-items: center;

            & li {
                & a {
                    display: block;
                    padding: 22px 28px;

                    @include respond-to(md) {
                        padding: 22px;
                    }

                    &.header__menu-link {
                        &_border {
                            border-right: 1px solid rgba(23, 22, 22, 0.3);
                        }
                    }
                }
            }

            & li:first-child a {
                border-right: 1px solid rgba(23, 22, 22, 0.3);
                border-left: 1px solid rgba(23, 22, 22, 0.3);

                @include respond-to(md) {
                    border-right: none;
                }
            }

            & li:nth-child(2) a {
                border-right: 1px solid rgba(23, 22, 22, 0.3);
                border-left: 1px solid rgba(23, 22, 22, 0.3);
            }
        }
    }

    &__socials {
        & ul {
            @extend %flex-start-center;
            display: block;
            height: 100%;

            & li {
                & a {
                    margin-right: 19px;

                    @include respond-to(md) {
                        margin-right: 22px;
                    }

                }
            }

            @include respond-to(md) {
                & li:last-child {
                    & a {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__dropdown-menu {
        position: absolute;
        background: $white;
        top: 100%;
        right: 0;
        padding: 18px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        padding-bottom: 12px;
        opacity: 0;
        transform: rotateX(-90deg);
        transform-origin: 50% 0;
        transition: $transition;
        z-index: -1;

        &.opened {
            opacity: 1;
            transform: rotateX(0);
            z-index: 1;
        }

        & ul li {
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }

            @include respond-to(sm) {
                &:last-child {
                    margin-bottom: 30px;
                }
            }
        }

        & ul li a {
            line-height: 24px;
            display: block;
            border-bottom: 1px solid #f2f2f2;

            &:hover,
            &:focus {
                border-bottom: 1px solid $black;
            }
        }

        @include respond-to(sm) {

            ul {
                max-width: 360px;
                margin: auto;
            }

            .dropdown__mobile-btns {
                display: flex;
                justify-content: space-between;
                margin: auto;
                margin-bottom: 30px;
                max-width: 360px;

                a {
                    display: block;
                    border: 1px solid #f2f2f2;
                    padding: 15px;

                    &:hover {
                        border: 1px solid #171616;
                    }
                }
            }

            .dropdown__contacts-links {
                display: flex;
                justify-content: center;

                ul {
                    display: flex;
                    gap: 30px;

                    a {
                        border: none;

                        &:hover {
                            border: none;
                        }


                        img {
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

.brand {
    @extend %flex-between-center;
    position: relative;
    width: 338px;
    flex-shrink: 0;

    @include respond-to(xl) {
        flex-grow: 1;
        width: auto;
    }

    @include respond-to(sm) {
        position: inherit;
    }
}

.logotype {
    font-size: 40px;
    line-height: 48px;

    @include respond-to(sm) {
        font-size: 24px;
        line-height: 29px;
    }

    &_footer {
        color: $white;
        font-size: 48px;
        line-height: 56px;

        @include respond-to(md) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    & a {
        color: $black;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}