.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    z-index: 9999;
    padding: 15px;
    overflow-y: auto;

    &__dialog {
        width: 100%;
        max-width: 1228px;
        background: rgba(23, 22, 22, 0.7);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
    }

    &__header {
        background: $black;
        color: $white;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        padding: 14px;
    }

    &__body {
        padding: 50px 55px;
    }
}